* {
    margin: 0;
    padding: 0;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7950f2;
    color: #fff;
}

.body-container {
    height: 77vh;
    display: flex;
}

.sidebar {
    background-color: #ced4da;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: #000;
        font-size: 1.3em;
        padding-top: 20px;
    }
    a {
        color: #7A6563;
        font-size: 1.3em;
        padding-top: 20px;
        transition: .4s;
        &:hover {
            color: #000;
        }
    }
}

.body-content {
    width: 66.6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        padding: 20px;
        font-size: 1.5em;
        &.date {
            color: #555;
            font-size: 1.3em;
        }
    }
    input {
        width: 100%;
        font-size: 1em;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #000;
    }
    button {
        background-color: #7950f2;
        color: #fff;
        font-size: 1em;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        &:hover {
            opacity: 85%;
        }
    }
}